<nav class="navbar navbar-light bg-light">
  <div class="container-fluid" style="display: flex;">

    <!-- Left Text, leave this even if blank for spacing -->
    <div class="alignleft"></div>
    
    <!-- Center Text -->
    <a class="navbar-brand aligncenter" href="#">
      <img class="headerIcon" src="assets/images/vecteezy_jumping-rabbit-logo-simple-mono-line_7524038 (Custom).png">
      Welcome to WordHop!
    </a>

    <!-- Right elements -->
    <div class="dropdown alignright">
      <a
         class="dropdown-toggle hidden-arrow"
         href="#"
         id="navbarDropdownMenuAvatar"
         role="button"
         aria-expanded="false"
         data-bs-toggle="dropdown"
         >
         <fa-icon class="fa-regular" [icon]="faGear"></fa-icon>
      </a>
      <ul
          class="dropdown-menu dropdown-menu-end"
          aria-labelledby="navbarDropdownMenuAvatar"
          >
        <li>
          <a *ngIf="!loggedIn" class="dropdown-item" (click)="openLogin()" href="#">Login</a>
          <a *ngIf="loggedIn && !isGuest()" class="dropdown-item" (click)="openStats()" href="#">Stats</a>
          <a *ngIf="loggedIn" class="dropdown-item" (click)="openLeaderboard()" href="#">Leaderboard</a>
          <a *ngIf="loggedIn" class="dropdown-item" (click)="openSettings()" href="#">Settings</a>
          <a *ngIf="loggedIn" class="dropdown-item" (click)="logout()" href="#">Logout</a>
        </li>
      </ul>
    </div>

  </div>
</nav>
