<nav class="navbar navbar-light bg-light">
  <div class="container-fluid" style="display: flex;">

    <!-- Left Text, leave this even if blank for spacing -->
    <div class="alignleft"></div>
    
    <!-- Center Text -->
    <a class="navbar-brand aligncenter" href="#">
      Super Awesome Word Game
    </a>

    <!-- Right elements -->
    <div class="dropdown alignright">
      <a
         class="dropdown-toggle hidden-arrow"
         href="#"
         id="navbarDropdownMenuAvatar"
         role="button"
         aria-expanded="false"
         data-bs-toggle="dropdown"
         >
        ICON
      </a>
      <ul
          class="dropdown-menu dropdown-menu-end"
          aria-labelledby="navbarDropdownMenuAvatar"
          >
        <li>
          <a class="dropdown-item" (click)="openLogin()" href="#">Login</a>
          <a class="dropdown-item" (click)="openProfile()" href="#">Profile</a>
          <a class="dropdown-item" (click)="openSettings()" href="#">Settings</a>
          <a class="dropdown-item" (click)="logout()" href="#">Logout</a>
        </li>
      </ul>
    </div>

  </div>
</nav>
