footer {
    background-color: grey;
    padding: 1em;
    -moz-flex-shrink: 0;
    -webkit-flex-shrink: 0;
    -ms-flex-shrink: 0;
    flex-shrink: 0;
}

.diagnostic-message {
    position: absolute;
    right: 0;
    bottom: 0;
    font-style: italic;
    font-size: 75%;
    color: black;
  }
  
  