<div #gameContainer class="game-container">
  <div class="game-board" [style.width.px]="boardWidth" [style.height.px]="boardHeight">
    <div class="word-row" *ngFor="let word of gameService.board?.words; let i = index" [style.height.px]="wordRowHeight"
      [ngClass]="{ 'highlighted': gameService.selectedWord === i }">
      
      <!-- Left side holds the hint button -->
      <!-- On the first row, put the give up button -->
      <div class="letter-box" [style.width.px]="letterBoxSize * .85" [style.height.px]="letterBoxSize * .85" [style.font-size.px]="iconFontSize">
        <fa-icon class="icon unverified" *ngIf="word.pairWord && i === 0 && gameService.gameStatus == enumGameStatus.Run"
          (click)="giveUp()" [icon]="faSadTear" matTooltip="Give up and take the L?"></fa-icon>
        <fa-icon *ngIf="gameService.selectedWord === i && hintsEnabled() && word.status != enumWordStatus.Solved && gameService.gameStatus == enumGameStatus.Run"
          class="icon hint" [icon]="faLightbulb" (click)="hint()" matTooltip="Get a hint?"></fa-icon>
      </div>

      <!-- The letters of the word -->
      <div class="letter-box letter" [style.font-size.px]="letterFontSize"
      [style.width.px]="letterBoxSize" [style.height.px]="letterBoxSize"
        *ngFor="let letter of word.letters; let j = index" (click)="setSelectedCell(i, j)"
        [ngClass]="{
          'shake': word.status == enumWordStatus.Wrong && gameService.gameStatus == enumGameStatus.Run,
          'bounceSize': word.status == enumWordStatus.Solved && gameService.gameStatus == enumGameStatus.Run,
          'locked': word.pairWord,
          'solved': word.status == enumWordStatus.Solved,
          'wrong': word.status == enumWordStatus.Wrong,
          'highlighted':
            gameService.selectedWord === i &&
            gameService.selectedLetter === j,
          'on-path': isLetterOnPath(letter, i, j),
          'solution': !word.pairWord && !letter.userEntered
        }">

        <!-- Show the letter unless it's the first/last row insane mode and the letter doesn't match -->
        <ng-container *ngIf=
          "i == 0 || i == gameService.numHops
          || gameService.difficultyLevel != enumDifficultyLevel.Insane || isLetterOnPath(letter, i, j)"
        >{{ !paused ? letter.character : null }}</ng-container>

        <!-- In insane mode on middle rows with a non-matching letter, show an icon -->
        <ng-container *ngIf=
          "i != 0 && i != gameService.numHops
          && letter != null
          && gameService.difficultyLevel == enumDifficultyLevel.Insane && !isLetterOnPath(letter, i, j)"
        >
          <fa-icon class="icon" [icon]="faEyeSlash"></fa-icon>
        </ng-container>
        
        <!-- Spinner while the letter is loading -->
        <fa-icon *ngIf="word.pairWord && word.status == enumWordStatus.Loading" class="icon testing fa-spin" [style.font-size.px]="iconFontSize" [icon]="faSpinner"></fa-icon>

        <!-- Frowny face if the game is broken -->
        <fa-icon *ngIf="word.pairWord && word.status == enumWordStatus.Broken" class="icon broken" [icon]="faFaceFrown"></fa-icon>
      </div>

      <!-- The rest of these are icons depending on the word -->
      <div class="letter-box" [style.width.px]="letterBoxSize * .85" [style.height.px]="letterBoxSize * .85" [style.font-size.px]="iconFontSize">

        <!-- Pair word, either invisible/timer icon (at bottom) or reload icon (at top) -->
        <!-- New game at top -->
        <fa-icon class="icon" matTooltip="Start a new game?"
          [ngClass]="{
            'win': gameService.gameStatus == enumGameStatus.Win,
            'wrong': gameService.gameStatus == enumGameStatus.Lose,
            'broken': gameService.gameStatus == enumGameStatus.Broken,
            'unverified': gameService.gameStatus == enumGameStatus.Run,
            'fa-spin': gameService.gameStatus == enumGameStatus.Initialize
          }"
          *ngIf="word.pairWord && i === 0" (click)="newGame()" [icon]="faRepeat"></fa-icon>

        <!-- Timer at bottom -->
        <div class="timer"
          [ngClass]="{
            high: gameService.gameStatus == enumGameStatus.Run && gameService.timeRemaining >= 10000,
            medium: gameService.gameStatus == enumGameStatus.Run && gameService.timeRemaining >= 5000 && gameService.timeRemaining < 10000,
            low: gameService.gameStatus == enumGameStatus.Run && gameService.timeRemaining < 5000,
            solved: gameService.gameStatus == enumGameStatus.Win,
            expired: gameService.gameStatus == enumGameStatus.Lose
          }"
          *ngIf="word.pairWord && i != 0 && gameService.gameMode == enumGameMode.Timed">
          {{ formatTimer(gameService.timeRemaining) }}
        </div>

        <!-- In levels lower than expert mode, you can test individual words.  These are their icons -->
        <ng-container *ngIf="gameService.difficultyLevel < enumDifficultyLevel.Expert">

          <!-- Unverified word -->
          <fa-icon *ngIf="
            !word.pairWord &&
            word.populated &&
            word.status == enumWordStatus.Initialized
          " class="icon unverified" (click)="testWord(i)" [icon]="faCircleQuestion" matTooltip="Test this word?"></fa-icon>

          <!-- Solved word -->
          <fa-icon *ngIf="word.status == enumWordStatus.Solved" class="icon solved" (click)="testWord(i)" [icon]="faCircleCheck" matTooltip="You got it right!"></fa-icon>

          <!-- Wrong word -->
          <fa-icon *ngIf="word.status == enumWordStatus.Wrong" class="icon wrong" (click)="testWord(i)" [icon]="faCircleExclamation" matTooltip="Wrong, try harder!"></fa-icon>

          <!-- Testing word -->
          <fa-icon *ngIf="word.status == enumWordStatus.Testing" class="icon testing fa-spin" (click)="testWord(i)" [icon]="faSpinner"></fa-icon>

          <!-- Broken word -->
          <fa-icon *ngIf="!word.pairWord && word.status == enumWordStatus.Broken" class="icon broken" (click)="testWord(i)" [icon]="faCircleXmark"></fa-icon>
          
          <!-- No icon -->
          <div *ngIf="
              !word.populated &&
              word.status == enumWordStatus.Initialized
          ">
          </div>

        </ng-container>

        <!-- In levels >= expert mode, you can only test the whole puzzle and don't get feedback
          on individual words. Icons for this go on the last entered word (next to last row). -->
        <ng-container *ngIf="
          gameService.difficultyLevel >= enumDifficultyLevel.Expert
          && i === gameService.numHops - 1
          && gameService.board.allWordsPopulated()
        ">
          <!-- Unverified word -->
          <fa-icon *ngIf="
            word.status == enumWordStatus.Initialized
          " class="icon unverified" (click)="validatePuzzle()" [icon]="faCircleQuestion"></fa-icon>

          <!-- Solved word -->
          <fa-icon *ngIf="word.status == enumWordStatus.Solved" class="icon solved" (click)="validatePuzzle()" [icon]="faCircleCheck"></fa-icon>

          <!-- Wrong word -->
          <fa-icon *ngIf="word.status == enumWordStatus.Wrong" class="icon wrong" (click)="validatePuzzle()" [icon]="faCircleExclamation"></fa-icon>

          <!-- Testing word -->
          <fa-icon *ngIf="word.status == enumWordStatus.Testing" class="icon testing fa-spin" (click)="validatePuzzle()" [icon]="faSpinner"></fa-icon>

          <!-- Broken word -->
          <fa-icon *ngIf="word.status == enumWordStatus.Broken" class="icon broken" (click)="validatePuzzle()" [icon]="faCircleXmark"></fa-icon>
          
          <!-- No icon -->
          <div *ngIf="
            word.status == enumWordStatus.Initialized
          "></div>

        </ng-container>

      </div>
    </div>
    <!-- One more row to put the timer on the screen for untimed games -->
    <!-- Careful to align the words under the letter boxes -->
    <ng-container *ngIf="gameService.board && gameService.gameMode != enumGameMode.Timed">
      <div class="word-row">
        <div class="letter-box" [style.width.px]="letterBoxSize * .85"></div>
      
        <div class="bottom-row" [style.width.px]="letterBoxSize * gameService.board.numLetters + (2 * (gameService.board.numLetters))">
          <div class="gamestats left">{{ gameService.solutionMessage }}</div>
          <div class="gamestats right">
            <fa-icon *ngIf="gameService.gameStatus == enumGameStatus.Run && !paused" class="icon" [icon]="faPause" (click)="pause()"></fa-icon>
            &nbsp;&nbsp;
            <fa-icon class="icon" [ngClass]="{'fa-beat-fade': gameService.gameStatus == enumGameStatus.Run && !paused}" [icon]="faClock"></fa-icon> {{ formatElapsedTime(gameTimeElapsed) }}s
          </div>
        </div>

        <div class="letter-box" [style.width.px]="letterBoxSize * .85"></div>
      </div>
    </ng-container>

  </div>
</div>