.game-board {
  display: flex;
  align-items: center;
  flex-direction: column;
  /* border: 2px solid red; */
}

.highlighted-row {
  /* border: 2px solid red; */
}

.letter-row {
  display: flex;
  /* border: 2px solid blue; */
  align-items: center;
}

.letter-box {
  box-sizing: border-box;
  border: 2px solid gray;
  border-radius: 5px;
  margin: 2px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

/* Letter box sizing & font varies based on letters & hops */
/*   3 Letters */
.size-3letter-2hop {
  /* These are min(height, width) */
  height: min(17.5vh, 20vw);
  width: min(17.5vh, 20vw);
  font-size: min(14vh, 16vw);
}
.size-3letter-3hop {
  height: min(13vh, 20vw);
  width: min(13vh, 20vw);
  font-size: min(10.5vh, 16vw);
}
.size-3letter-4hop {
  height: min(10vh, 20vw);
  width: min(10vh, 20vw);
  font-size: min(8.4vh, 16vw);
}
.size-3letter-5hop {
  height: min(8vh, 20vw);
  width: min(8vh, 20vw);
  font-size: min(7vh, 16vw);
}
/*   4 Letters */
.size-4letter-2hop {
  height: min(17.5vh, 16vw);
  width: min(17.5vh, 16vw);
  font-size: min(14vh, 12.8vw);
}
.size-4letter-3hop {
  height: min(13vh, 16vw);
  width: min(13vh, 16vw);
  font-size: min(10.5vh, 12.8vw);
}
.size-4letter-4hop {
  height: min(10vh, 16vw);
  width: min(10vh, 16vw);
  font-size: min(8.4vh, 12.8vw);
}
.size-4letter-5hop {
  height: min(8vh, 16vw);
  width: min(8vh, 16vw);
  font-size: min(7vh, 12.8vw);
}
/*   5 Letters */
.size-5letter-2hop {
  height: min(17.5vh, 13.5vw);
  width: min(17.5vh, 13.5vw);
  font-size: min(14vh, 10.8vw);
}
.size-5letter-3hop {
  height: min(13vh, 13.5vw);
  width: min(13vh, 13.5vw);
  font-size: min(10.5vh, 10.8vw);
}
.size-5letter-4hop {
  height: min(10vh, 13.5vw);
  width: min(10vh, 13.5vw);
  font-size: min(8.4vh, 10.8vw);
}
.size-5letter-5hop {
  height: min(8vh, 13.5vw);
  width: min(8vh, 13.5vw);
  font-size: min(7vh, 10.8vw);
}

.locked-box {
  background-color: grey;
  color: white;
}
.solved-box {
  background-color: lightgreen;
}
.wrong-box {
  background-color: red;
}
.highlighted-box {
  border: 5px solid purple;
}
.path-letter {
  color: yellow;
}

.icon-container {
  height: 8vmin;
  width: 9vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  /* border: 2px solid green; */
}

.icon-box {
  font-size: 7vmin;
  font-weight: 700;
  height: 8vmin;
  width: 9vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 2px solid orange; */
}

.icon {
  font-size: 7vwin;
}

.unverified {
  color: grey;
}
.solved {
  color: green;
}
.wrong {
  color: red;
}
.testing {
  color: purple;
}
.broken {
  color: darkred;
}
.win {
  color: green;
}
.hint {
  color: yellow;
}

/* Animations */

/* Shake sideways */
.shake {
  animation-name: shake;
  animation-duration: 500ms;
}

@keyframes shake {
  10%,
  90% {
    transform: translateX(-1px);
  }

  20%,
  80% {
    transform: translateX(2px);
  }

  30%,
  50%,
  70% {
    transform: translateX(-4px);
  }

  40%,
  60% {
    transform: translateX(4px);
  }
}

/* Bounce size up and down */

.bounceSize {
  animation-name: bounceSize;
  animation-duration: 500ms;
}

@keyframes bounceSize {
  10%,
  90% {
    transform: scale(95%);
  }

  20%,
  80% {
    transform: scale(105%);
  }

  30%,
  50%,
  70% {
    transform: scale(90%);
  }

  40%,
  60% {
    transform: scale(110%);
  }
}
