.game-board {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.highlighted-row {
  /* border: 2px solid red; */
}

.letter-row {
  display: flex;
}

.letter-box {
  box-sizing: border-box;
  border: 2px solid gray;
  border-radius: 3px;
  margin: 2px;
  font-size: 2.5rem;
  font-weight: 700;
  height: 3rem;
  width: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

.locked-box {
  background-color: grey;
  color: white;
}

.solved-box {
  background-color: lightgreen;
}

.wrong-box {
  background-color: red;
}

.highlighted-box {
  border: 5px solid purple;
}

.icon-box {
  border-radius: 3px;
  margin: 2px;
  font-size: 2.5rem;
  font-weight: 700;
  height: 3rem;
  width: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

.unverified {
  color: grey;
}

.solved {
  color: green;
}

.wrong {
  color: red;
}

.testing {
  color: purple;
}
