.game-container {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  /* border: 5px solid green; */

  display: flex;
  align-items: top;
  justify-content: center;
}

.game-board {
  width: 100%;
  height: 100%;
  position: relative;
 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  box-sizing: border-box;
  /* border: 1px solid purple; */
}

.word-row {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2px;

  box-sizing: border-box;
  /* border: 1px solid blue; */
}

.word-row.highlighted {
  /* border: 2px solid red; */
}

.letter-box {
  box-sizing: border-box;
  /* border: 2px solid gray; */
  border-radius: 5px;
  margin-left: 2px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

.letter-box.letter {
  border: 1px solid black;
}

.letter-box.letter.locked {
  background-color: grey;
  color: white;
}

.letter-box.letter.solved {
  background-color: lightgreen;
}

.letter-box.letter.wrong {
  background-color: red;
}

.letter-box.letter.highlighted {
  border: 5px solid purple;
}

.letter-box.letter.on-path {
  color: yellow;
}


.letter-box.icon {
  /* border: 2px solid yellow; */
}

.letter-box > .icon.unverified {
  color: grey;
}
.letter-box > .icon.solved {
  color: green;
}
.letter-box > .icon.wrong {
  color: red;
}
.letter-box > .icon.testing {
  color: purple;
}
.letter-box > .icon.broken {
  color: darkred;
}
.letter-box > .icon.win {
  color: green;
}
.letter-box > .icon.hint {
  color: yellow;
}

.letter-box > .timer.high {
  color: green;
}
.letter-box > .timer.medium {
  color: red;
}
.letter-box > .timer.low {
  color: red;
  animation: blinker 1s linear infinite;
}
.letter-box > .timer.solved {
  color: green;
}
.letter-box > .timer.expired {
  color: red;
}


/* Animations */

/* Blink, call with: animation: blinker 1s linear infinite; */
@keyframes blinker {
  50% {
    opacity: 0;
  }
}

/* Shake sideways */
.shake {
  animation-name: shake;
  animation-duration: 500ms;
}

@keyframes shake {
  10%,
  90% {
    transform: translateX(-1px);
  }

  20%,
  80% {
    transform: translateX(2px);
  }

  30%,
  50%,
  70% {
    transform: translateX(-4px);
  }

  40%,
  60% {
    transform: translateX(4px);
  }
}

/* Bounce size up and down */

.bounceSize {
  animation-name: bounceSize;
  animation-duration: 500ms;
}

@keyframes bounceSize {
  10%,
  90% {
    transform: scale(95%);
  }

  20%,
  80% {
    transform: scale(105%);
  }

  30%,
  50%,
  70% {
    transform: scale(90%);
  }

  40%,
  60% {
    transform: scale(110%);
  }
}
