<div class="game-board">
  <div
    *ngFor="let word of gameService.board; let i = index"
    [ngClass]="{ 'highlighted-row': gameService.selectedWord === i }"
  >
    <div class="letter-row">
      <div
        *ngFor="let letter of word.letters; let j = index"
        (click)="setSelectedCell(i, j)"
        [ngClass]="{}"
      >
        <div
          class="letter-box"
          [ngClass]="{
            'locked-word': word.locked == true,
            'solved-word': word.solved == true,
            'highlighted-box':
              gameService.selectedWord === i && gameService.selectedLetter === j
          }"
        >
          {{ letter }} <fa-icon [icon]="faCircleCheck"></fa-icon>
        </div>
      </div>
    </div>
  </div>
</div>
