* {
    box-sizing: border-box;
}

html,
body {
    padding: 0;
    margin: 0;
}

body {
    font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.headertext {
    font-size: 1.2rem;
    display: flex;
    width: 100%;
    align-self: center;
    margin-bottom: 20px;
}

.notetext {
    font-style: italic;
    font-size: 0.8rem;
}

table {
    display: grid;
    border-collapse: collapse;
    min-width: 100%;
    grid-template-columns:
        1fr 1fr 1fr 1fr 1.5fr;
        /* repeat(4, minmax(75px, 75px))
        minmax(auto, auto); */
    margin-bottom: 30px;
}

thead,
tbody,
tr {
    display: contents;
}

th,
td {
    padding: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

th {
    position: sticky;
    top: 0;
    background: #6c7ae0;
    text-align: left;
    font-weight: normal;
    font-size: 0.8rem;
    color: white;
}

th:last-child {
    border: 0;
}

td {
    padding-top: 10px;
    padding-bottom: 10px;
    color: #808080;
}

tr:nth-child(even) td {
    background: #f8f6ff;
}

.highlighted td {
    border-top: thin solid; 
    border-bottom: thin solid;
}

.highlighted td:first-child {
    border-left: thin solid;
}

.highlighted td:last-child {
    border-right: thin solid;
}
