<!-- <p>Super Awesome Word Game</p> -->

<app-header></app-header>

<!-- Full screen height & width -->
<div style="height: calc(100vh - 100px); width: 100vw; border: 1px solid green">
  <!-- Bootstrap flex container with 100% height  -->
  <div class="container d-flex h-100" style="border: 1px solid green">
    <!-- Flex column holder -->
    <div class="col d-flex flex-column">
      <!-- Game Board (grows to fill the screen) -->
      <div class="row flex-grow-1 justify-content-center">
        <div>
          <game [gameService]="game"></game>
        </div>
      </div>
      <!-- Message Box -->
      <div class="row justify-content-center">
        <label class="errormessage">{{ game.message }}</label>

        <!-- Spacer -->
        <div style="height: 5px"></div>

        <!-- Keyboard -->
        <div class="simple-keyboard"></div>
      </div>
    </div>
  </div>
</div>

  <app-footer></app-footer>
