.game {
  display: flex;
  align-items: center;
  flex-direction: column;
}

p {
  font-family: Lato;
}

.errormessage {
  width: 60%;
  height: 10vh;
  padding: 2px;
  font-size: 4vh;
  box-sizing: border-box;
  text-align: center;
  border: none;
  /* border: 2px solid red; */
}

.simple-keyboard {
  max-width: 850px;
}
