.game {
  display: flex;
  align-items: center;
  flex-direction: column;
}

p {
  font-family: Lato;
}

.errormessage {
  width: 60%;
  height: 100px;
  padding: 20px;
  font-size: 20px;
  border: none;
  box-sizing: border-box;
}

.simple-keyboard {
  max-width: 850px;
}
