<div class="modal-header">
    <h4 class="modal-title">Leaderboard!</h4>
    <button
        type="button"
        class="btn-close"
        aria-label="Close"
        (click)="activeModal.dismiss('cancel')"
    ></button>
</div>
<div class="modal-body">
    <span class="headertext">Top players for games with  {{ letters }} letters & {{ hops }} hops!</span>

    <mat-radio-group class="gridtable" aria-label="Select an option">
        <mat-radio-button class="griditem" value="1" checked (click)="getLeaderboard('winpct')">Win Percentage</mat-radio-button>
        <mat-radio-button class="griditem" value="2" (click)="getLeaderboard('numwins')">Most Wins</mat-radio-button>
        <mat-radio-button class="griditem" value="3" (click)="getLeaderboard('fastestwin')">Fastest Win</mat-radio-button>
    </mat-radio-group>

    <table>
        <thead>
            <tr>
                <th>Rank</th>
                <th>Name</th>
                <th>Score</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let leader of leaders; let i = index">
                <td>{{ leader.rank }}</td>
                <td>{{ leader.name }}</td>
                <td>{{ formatScore(leader.score) }}</td>
            </tr>
        </tbody>
    </table>

    <span class="notetext">** Guests and games with hints don't qualify!</span>
</div>
<div class="modal-footer">
    <button
        type="button"
        class="btn btn-outline-dark btn-secondary"
        (click)="activeModal.close()"
    >
        Close
    </button>  
</div>
  