<div class="modal-header">
  <h4 class="modal-title">Settings</h4>
  <button
    type="button"
    class="btn-close"
    aria-label="Close"
    (click)="activeModal.dismiss('Cross click')"
  ></button>
</div>
<div class="modal-body">
  <div class="bodycontainer">
  
  
    <!-- Number of letters -->
    <div class="item">
      <div class="rangeheader">Number Of Letters</div>
      <div class="rangevalue">{{ playerService.numLetters }}</div>
      <mat-slider
        thumbLabel tickInterval="1" aria-label="units"
        [min]="gameService.MIN_LETTERS" [max]="gameService.MAX_LETTERS" step="1"
        [ngModel]="playerService.numLetters" (ngModelChange)="playerService.numLetters = $event">
      </mat-slider>
    </div>
  
    <!-- Number of hops -->
    <div class="item">
      <div class="rangeheader">Number Of Hops</div>
      <div class="rangevalue">{{ playerService.numHops }}</div>
      <mat-slider
        thumbLabel tickInterval="1" aria-label="units"
        [min]="gameService.MIN_HOPS" [max]="gameService.MAX_HOPS" step="1"
        [ngModel]="playerService.numHops" (ngModelChange)="playerService.numHops = $event">
      </mat-slider>
    </div>

    <!-- Difficulty Level -->
    <div class="item">
      <div class="rangeheader">Difficulty</div>
      <div class="rangevalue">{{ formatDifficulty(playerService.difficultyLevel) }}</div>
      <mat-slider
        thumbLabel tickInterval="1" aria-label="units"
        [min]="getMinDifficulty()" [max]="getMaxDifficulty()" step="1"
        [displayWith]="formatDifficulty"
        [ngModel]="playerService.difficultyLevel" (ngModelChange)="playerService.difficultyLevel = $event">
      </mat-slider>
    </div>

    <!-- Hint Type -->
    <mat-slide-toggle
      [ngModel]="formatHintType(playerService.hintType)" (ngModelChange)="setHintType($event)"
    >
      Whole Word Hints?
    </mat-slide-toggle>

    <!-- Game Mode -->
    <mat-slide-toggle
      [ngModel]="formatGameMode(playerService.gameMode)" (ngModelChange)="setGameMode($event)"
    >
      Timed Game?
    </mat-slide-toggle>

</div>
<div class="modal-footer">
  <button
    type="button"
    class="btn btn-outline-dark"
    (click)="activeModal.close('Close click')"
  >
    Close
  </button>
</div>
