/* @import url(https://fonts.googleapis.com/css?family=Dosis:700); */
body {
  /* font-family: "Dosis", Helvetica, Arial, sans-serif;  */
  background: #ecf0f1;
  color: #34495e;
  padding-top: 40px;
  text-shadow: white 1px 1px 1px;
}


.bodycontainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* border: 2px solid blue; */
}
.item {
  display: flex;
  flex-direction: column;
  /* border: 1px solid purple; */
/*   margin-bottom: 30px; */
  gap: 5px;
  padding-bottom: 20px;
}
.item > .centered {
  display: flex;
  align-self: center;
  align-items: center;
}
.headertext {
  display: flex;
  align-self: center;
  align-items: center;
  font-size: 1em;
  gap: 5px;
}
.headertext > .headervalue {
  font-weight: bold;
  font-style: italic;
  font-size: 2em;
}

.namerow {
  display: flex;
  width: 80%;
  align-self: center;
}
.nameinput {
  display: flex;
  flex: 1 1 auto;
}
.namebutton {
  display: flex;
  flex: 0 1 auto;
}