<div class="modal-header">
  <h4 class="modal-title">Settings</h4>
  <button
    type="button"
    class="btn-close"
    aria-label="Close"
    (click)="activeModal.dismiss('Cross click')"
  ></button>
</div>
<div class="modal-body">
  <div class="bodycontainer">
  
    <!-- Name -->
    <div class="item">
      <div class="headertext">Your name for leaderboards:</div>
      <div class="namerow">
        <input class="nameinput" matInput [ngModel]="name" (ngModelChange)="name = $event">
        <button
          type="button"
          class="namebutton btn btn-outline-dark"
          (click)="changeName()"
          [disabled]="name == playerService.name"
        >
          Apply
        </button>
      </div>
    </div>
  
    <!-- Number of letters -->
    <div class="item">
      <div class="headertext">Number Of Letters: <span class="headervalue">{{ playerService.numLetters }}</span></div>
      <mat-slider discrete step="1" showTickMarks aria-label="units" [min]="gameService.MIN_LETTERS" [max]="gameService.MAX_LETTERS">
        <input matSliderThumb [value]="playerService.numLetters" (valueChange)="playerService.numLetters = $event">
      </mat-slider>
    </div>
  
    <!-- Number of hops -->
    <div class="item">
      <div class="headertext">Number Of Hops: <span class="headervalue">{{ playerService.numHops }}</span></div>
      <mat-slider discrete step="1" showTickMarks aria-label="units" [min]="gameService.MIN_HOPS" [max]="gameService.MAX_HOPS">
        <input matSliderThumb [value]="playerService.numHops" (valueChange)="playerService.numHops = $event">
      </mat-slider>
    </div>

    <!-- Difficulty Level -->
    <div class="item">
      <div class="headertext">Difficulty: <span class="headervalue">{{ formatDifficulty(playerService.difficultyLevel) }}</span></div>
      <mat-slider discrete step="1" showTickMarks aria-label="units" [min]="getMinDifficulty()" [max]="getMaxDifficulty()" [displayWith]="formatDifficulty">
        <input matSliderThumb [value]="playerService.difficultyLevel" (valueChange)="playerService.difficultyLevel = $event">
      </mat-slider>
    </div>

    <!-- Hint Type -->
    <mat-slide-toggle
      [ngModel]="formatHintType(playerService.hintType)" (ngModelChange)="setHintType($event)"
    >
      Whole Word Hints?
    </mat-slide-toggle>

    <!-- Game Mode -->
    <mat-slide-toggle
      [ngModel]="formatGameMode(playerService.gameMode)" (ngModelChange)="setGameMode($event)"
    >
      Timed Game?
    </mat-slide-toggle>

    <!-- Enable Sounds -->
    <mat-slide-toggle
      [ngModel]="playerService.enableSounds" (ngModelChange)="playerService.enableSounds = $event"
    >
      Enable Sounds?
    </mat-slide-toggle>

    <!-- Show Keyboard -->
    <mat-slide-toggle
      [ngModel]="playerService.showKeyboard" (ngModelChange)="playerService.showKeyboard = $event"
    >
      Show Onscreen Keyboard?
    </mat-slide-toggle>

</div>
<div class="modal-footer">
  <button
    type="button"
    class="btn btn-outline-dark"
    (click)="activeModal.close('Close click')"
  >
    Close
  </button>
</div>
